<!doctype html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TFT</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div class="container">
        <div class="search-bar">
            <form method="POST">
            <select id="select" name="region">
                <option>BR</option>
                <option>EUNE</option>
                <option>EUW1</option>
                <option>JP</option>
                <option>KR</option>
                <option>LAS</option>
                <option>LAN</option>
                <option>NA</option>
                <option>OCE</option>
                <option>TR</option>
                <option>RU</option>
            </select>
                    <input name="summonerName" placeholder="Summoner">
            </form>
        </div>
        </div>
    </div>
</body>
</html>