<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TeamFlaskChalice</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div class="container">
        <div class="search-bar">
            <form method="POST">
            <select id="select" name="region">
                <option value="BR1">BR</option>
                <option value="EUN1">EUNE</option>
                <option value="EUW1">EUW</option>
                <option value="JP1">JP</option>
                <option value="KR">KR</option>
                <option value="LA1">LAS</option>
                <option value="LA2">LAN</option>
                <option value="NA1">NA</option>
                <option value="OC1">OCE</option>
                <option value="TR1">TR</option>
                <option value="RU">RU</option>
            </select>
                    <input name="summonerName" placeholder="Summoner">
            </form>
        </div>
        </div>

</body>
</html>